// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.header {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 9990;
}

#span {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	font-size: 20px;
	padding: 5px 10px;
	cursor: pointer;
	width: 60px;
	height: 60px;
}

#header {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 20px;
	z-index: 9990;
}

#header h1 {
	width: auto;
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	opacity: .9;
}

#forms {
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	opacity: .9;
	cursor: pointer;
}

#form1, #form2 {
	display: inline;
}

#form1 input,
#form1 label,
#form2 input,
#form2 label {
	cursor: pointer;
}

#containers {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	width: 50%;
	height: 50%;
	position: relative;
	top: 0;
	margin: 0;
	float: left;
	overflow: auto;
	opacity: .7;
}

.container:hover {
	opacity: 1;
}

.two_products {
	height: 100% !important;
}

.true {
	display: none !important;
}

#container0 {
	background-color: #CBDDE8;
}

#container1 {
	background-color: #FFCDC0;
}

#container2 {
	background-color: #FFFE9E;
}

#container3 {
	background-color: #DCFFB8;
}

.text {
	padding: 30px;
	text-align: center;
	height: 80%;
}

.text form {
	position: relative;
	top: 40%;
	margin-bottom: 20px;
}

.text div {
	margin-bottom: -100px;
}

.erro {
	margin-top: 150px;
}